/* *{
    border: 1px solid red;
} 

font-family: 'Archivo Black', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tomorrow', sans-serif;
font-family: 'Noto Sans', sans-serif;

*/

body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(20px,4vw,66px);
    size: 20%;
    color: rgb(59, 186, 70);
    text-shadow: -1px 3px 12px black;
}



/* nav */


#logo{
    font-family: 'Dosis';
    font-size:36px;
    color: rgb(91, 212, 101);
    margin-left: 3vw;
    text-decoration: none;
}
#logo:hover{
    text-shadow: rgb(136, 255, 150) 0px 0px 2px;
}
.nav a{
    text-decoration: none;
}


.nav{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(29, 29, 29);
    z-index: 2;
    top:0;
}


.nav ul{
    list-style-type: none;
    margin: 0 0 0 0;
    display:flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(29, 29, 29);
    
}
.nav li{
    margin: auto;
    font-family: 'Tomorrow', sans-serif;
}
li a{
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    color: whitesmoke;
    display: block;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(52, 52, 52); 
    color: rgb(91, 212, 101); 
 }



/* general content */



.firstyear img, .secondyear img, .thirdyear img, .fourthyear img{
    margin-top: 5%;
}

.home, .firstyear, .secondyear, .thirdyear, .fourthyear{
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(35, 39, 44); */
    background: linear-gradient(rgba(35, 39, 44,0.95), rgba(35, 39, 44,0.95)), url(https://static.vecteezy.com/system/resources/previews/001/409/234/non_2x/low-poly-connections-design-free-vector.jpg);
    background-position: 50% 50%;
    background-size:cover;
     background-clip: content-box;
     background-repeat: no-repeat;
    color:whitesmoke;
    height: 100vh;
    /* padding-top: 3vh; */
}

.firstyear, .thirdyear{
    flex-direction: row-reverse;
    background-color: rgb(30, 37, 44);
    background: linear-gradient(rgba(35, 39, 44,0.85), rgba(32, 39, 40, 0.85)), url(https://t4.ftcdn.net/jpg/03/17/10/31/240_F_317103153_30l4TcizhBYAa9gkCJ95YMsDam2FVhGO.jpg);
    background-position: 30% 10%;
    background-size:cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    
}



.home{
    background: linear-gradient(rgba(44, 44, 44, 0.8), rgba(11, 11, 11, 0.8)), url(https://external-preview.redd.it/LfBFOhWml1RGukZr3iDjwmtlc0fcS_W8YoJlhk7EYkg.jpg?auto=webp&s=f862c421c5d32d2b54ba67830d65685207ca71f9);
    background-size:cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    
}

.content a{
    color: whitesmoke;
    text-shadow: 0px 0px 1px;
    text-decoration: none           ;
}



/* content */
.content {
    text-align: center;
    margin-top: 15vw;
    font-size: clamp(13px,1.5vw,18px);
    line-height: 1.625;
}

.content p{
    font-family: 'Roboto', sans-serif;
    line-height: 4;
}
#hc{
    line-height: 1.625;
}





.home h2,.home h4{
    font-size: 3.5vw;
    color: rgb(59, 186, 70);
    text-shadow: -1px 3px 12px black;
}


/* img */
img{
    position: relative;
    top: 13%;
}

.home img{
    top: 18%;
    left:3vw;

}


/* footer */
footer{
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(44, 44, 44, 0.8), rgba(11, 11, 11, 0.8)), url(https://external-preview.redd.it/LfBFOhWml1RGukZr3iDjwmtlc0fcS_W8YoJlhk7EYkg.jpg?auto=webp&s=f862c421c5d32d2b54ba67830d65685207ca71f9);
    background-size:cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    
}

.b a{
    background-color:rgb(65, 151, 72) ;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgb(65, 151, 72);
    box-shadow: -1px 2px 6px black;
}
.content a:hover{
    text-decoration: none;
    background-color: rgb(232, 232, 232);
    color: green;
    box-shadow: 0px 0px 9px rgb(18, 102, 63);
}
